html {
  scroll-behavior: smooth;
}
.title {
  position: fixed;
  text-align: right;
  margin-top: 1.5%;
  width: 94%;
}

.hideTitle {
  opacity: 0;
  transition: opacity 0.7s;
}

.mainPage {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

.intro {
  width: 50%;
  position: absolute;
  left: 25%;
  z-index: 2;
  display: grid;
  grid-template-rows: 100vh 100vh 100vh 100vh 100vh;
}

.sun {
  margin-left: -5%;
}

.planets {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120%;
}

.planets a {
  width: 20%;
  text-decoration: none;
}

.planet {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.planets p {
  text-align: center;
  font-weight: bold;
}

.planets video:hover + p {
  display: block;
  width: 125%;
  font-size: larger;
  color: #f8bc04;
}

.planets video {
  width: 100%;
  transition: all 100ms ease-in-out;
  position: relative;
}

.planets video:hover {
  width: 125%;
  transition: all 100ms ease-in;
}

.cont {
  padding-top: 12vh;
  margin-left: 5%;
}

.title p {
  margin-right: 6vh;
  margin-top: 4.5vh;
  font-size: 1.5rem;
}

@media screen and (max-width: 576px) {
  .mainPage {
    display: none;
  }

  .title p {
    margin: 0;
    font-size: larger;
  }
  .title {
    text-align: center;
    margin: 0;
    padding-block: 1rem 1rem;
    width: 100%;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .hideTitle {
    opacity: 1;
    transition: none;
  }
  .planets {
    flex-direction: column;
    width: 100%;
  }
  .intro {
    width: 100%;
    top: 5rem;
    left: 0;
    grid-template-rows: 150vh 80vh 80vh 80vh 80vh;
  }
  .intro section,
  .intro .introComp {
    width: 100%;
  }
  .cont {
    margin-left: 0;
    padding: 0;
    width: 94%;
    margin-inline: 3%;
  }
  .planets a {
    width: 40%;
  }
}
