html {
  scroll-behavior: smooth;
}

.mainPage {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

.intro {
  width: 50%;
  position: absolute;
  left: 25%;
  z-index: 2;
  display: grid;
  grid-template-rows: 100vh 100vh 100vh 100vh 100vh;
}

.intro section,
.intro .introComp {
  margin: auto;
}

.sun {
  margin-left: -5%;
}

.planets {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120%;
}

.planets video {
  width: 20%;
  transition: all 100ms ease-in-out;
}

.planets video:hover {
  width: 25%;
}

/* .container {
    padding-top: 10vh; 
} */
