.eventCard {
    border: 4px solid #f8bc04;
    box-shadow: 0 0 10px 5px #fbdc7f;
    border-radius: 12px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 8%;
    padding-bottom: 2.5vh;
}

.eventCard img {
    height: 90%;
    width: 100%;
    object-fit: cover;
    margin-bottom: 2%;
    border-radius: 8px;
}

.eventName {
    height: 10%;
    padding-bottom: 2.5vh;
    margin-top: 1%;
}

.eventName p {
    color: #f8bc04;
    margin-bottom: 0;
}