.introComp{
    background-color: rgba(0, 0, 0, 0.5);
    width: 110%;
    height: 62vh;
    margin: auto;
    margin-top: 5%;
    border: 4px solid #f8bc04;
    box-shadow: 0 0 10px 5px #fbdc7f;
    border-radius: 12px;
    text-align: center;
}

.introComp h1{
    text-decoration: underline;
    text-transform: uppercase;
    padding: 2%;
    font-family: 'Audiowide', sans-serif;
    display: inline-block;
    cursor: pointer;
}

.introComp p{
    padding: 1%;
    font-size: large;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: x-large;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

h4 {
    text-shadow:
    2px 2px 1px #000,
    -2px 2px 1px #000,
    -2px -2px 0 #000,
    2px -2px 0 #000;
}

.nl div {
    width: 25vh;
    position: relative;
}

.nl img {
    width: 100%;
}

#pic1 {
    bottom: 37vh;
    left: 34.5vh;
}

#pic2 {
    left: 3vh;
    filter: brightness(30%);
}

#pic3 {
    bottom: 84.9vh;
    left: 66.5vh;
    filter: brightness(30%);
}

.nl {
    height: 60vh;
}

.hide {
    opacity: 0;
    transition: all 1s ease;
}

.show {
    opacity: 100;
    transition: all 1s ease;
}

.us {
    position: relative;
    top: 0vh;
}

.vit {
    position: relative;
    bottom: 49vh;
}

.notClicked {
    font-size: 1.5rem;
    transition: all 1s ease;
}

.clicked {
    font-size: 34px;
    transition: all 1s ease;
}

@media screen and (max-width: 576px){
    #pic2,#pic3{
        display: none;
    }
    #pic1{
        top: 6vh;
    }
    .introComp p{
        font-size:larger; 
    }
}